{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1 class="text-center">Add New User</h1>

    <div class="d-flex justify-content-end mb-3">
        <a href="/users/">
            <button class="btn btn-secondary">Back</button>
        </a>
    </div>

</div>

<div>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{{ button_name }}" class="btn btn-success">
    </form>
</div>
    

{% endblock %}

